<app-hero-section></app-hero-section>
<div id="main">
    <app-layout></app-layout>
    <app-about-me></app-about-me>
    <app-my-resume></app-my-resume>
    <app-my-services></app-my-services>
    <app-list-users></app-list-users>
    <app-brand></app-brand>
    <app-singleuser></app-singleuser>
    <app-testimonial></app-testimonial>
    <app-portfolio></app-portfolio>
    <app-pricing></app-pricing>
    <app-contact></app-contact>
</div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>