

    <!-- ======= Breadcrumbs ======= 
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>List of Users</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>

      </div>
    </section>< End Breadcrumbs 

    <section class="inner-page">
      <div class="container">
        <p>
          Example inner page template
        </p>
      </div>
    </section>
     End #main -->
     <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>List of Users</h2>
            <table>
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor = 'let a of userData'>
                        <td>{{a.id}}</td>
                        <td>{{a.name}}</td>
                        <td>{{a.email}}</td>
                        <td>
                            <a [routerLink]="['/layout/singleUser', a.id]">View Details</a>
                            <a [routerLink]="['/layout/updateUser', a.id]">Update Details</a>
                            
                            <!-- <a  [routerLink]="['/layout/deleteUser', a.id]" ></a> <span *ngIf = "!(a.id == 54)" (click) = openDialog(a.id)>Delete</span> -->

                            <span *ngIf = "!(a.id == 54)" (click) = openDialog(a.id)>Delete</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
