<div class="container-fluid">
    <div class="row">
        <div class="row row-cols-1 row-cols-md-3 ">
          <div class="col">
            <div class="card  card-border1 ">
              <div class="card-body text-center">
               <img src="/assets/seo1.png" class="card-img-top img-dimensn" alt="...">
                <h5 class="card-title"><strong>Card title</strong></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-border ">
              <div class="card-body text-center ">
               <img src="/assets/seo1.png" class="card-img-top img-dimensn" alt="...">
                <h5 class="card-title"><strong>Card title</strong></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card  card-border2 ">
              <div class="card-body  text-center">
               <img src="/assets/seo1.png" class="card-img-top img-dimensn" alt="...">
                <h5 class="card-title"><strong>Card title</strong></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card  card-border1 ">
              <div class="card-body text-center">
               <img src="/assets/seo1.png" class="card-img-top img-dimensn" alt="...">
                <h5 class="card-title"><strong>Card title</strong></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card card-border  ">
              <div class="card-body  text-center">
               <img src="/assets/seo1.png" class="card-img-top img-dimensn" alt="...">
                <h5 class="card-title"><strong>Card title</strong></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
            <div class="col">
            <div class="card card-border2 ">
              <div class="card-body text-center">
               <img src="/assets/seo1.png" class="card-img-top img-dimensn" alt="...">
                <h5 class="card-title"><strong>Card title</strong></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>