<div class="row">
    <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
    <div class="col-lg-8 d-flex flex-column align-items-stretch">
      <div class="content ps-lg-4 d-flex flex-column justify-content-center">
        <div class="row">
          <div class="col-lg-6">
            <h3>Are you sure, you want to delete</h3>
            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <button class="btn btn-secondary btn-sm" (click) = "sendBack()"> Cancel</button>
                </div>
                <div class="col-md-6" class = "btn btn-primary btn-sm" (click) = "deleteUser()">Ok</div>
            </div>
        </div>
    </div>
</div>