<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 display-5 text-center"><strong>Welcome To O7Services</strong><br/>
         <p class="lead text-center">An IT Company With Learning Hub</p></div>
        <div class="row row-cols-1 row-cols-md-4 g-4 text-center">
          <div class="col">
              <img src="/assets/seo.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><strong>Website Designer & SEO</strong></h5>
                <p class="card-text">Website designing & Development Services for diverse needs with latest tools to render appealing and user-friendly website design services.</div>
            
          </div>
          <div class="col ">
            
              <img src="/assets/seo.png" class="card-img-top " alt="...">
              <div class="card-body">
                <h5 class="card-title"><strong>Mobile Development</strong></h5>
                <p class="card-text">Specialised in Android App Development, iOS development as well as Hybrid App Development for all business.</p>
            
            </div>
          </div>
          <div class="col">
            
            
            
              <img src="/assets/seo.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><strong>Software Development</strong></h5>
                <p class="card-text">Professionally Guaranteed Software Development Services to address a unique business or personal objective, goal or process.</p>
             
            </div>
          </div>
          <div class="col">
              <img src="/assets/seo.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title "><strong>Industrial Training</strong></h5>
                <p class="card-text">Industrial Training plays an important role in a student’s life. It is significant as it helps a student to develop in his professional commandment. </div>
          </div>
        </div>
    
    </div>
</div>